.App {
  text-align: center;
  color: #4C8D9C;
}

img {
  padding-top: 5px;
  width: 50px;
  height: 50px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #5DAAB4;
  height: auto;
}
#history, #new {
  color: white;
  text-decoration: none;
  padding: 20px;
}

div a {
  color: #357782;
}

table {
  border-collapse: collapse;
}

.table-info {
  border: 1px solid;
  padding: 10px;
}

label {
  padding: 10px;
}

input {
  margin: 10px
}

#history { 
  grid-column: 3;
}

#new {
  grid-column: 4;
} 

button {
  transition: all .5s ease;
  background-color: #5EA67C;
  color: white;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  width:max-content;
}

.index-edit-button:hover, .show-edit-button:hover {
  color: green;
  background-color: white;
  cursor: pointer;
}

.index-delete-button:hover, .show-delete-button:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

.clear-history-button:hover {
  color: white;
  background-color: #285296;
  cursor: pointer;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 2fr;
}

#transaction-name {
  width: 500px;
}

.details {
  padding: 20px;
  word-wrap: break-word;
}

#positive {
  color: green;
}

#negative {
  color: red;
}

.none-display {
  display: none;
}

.green {
  color: green;

}
.yellow {
  color: #E0CE45;

}
.red{
  color:red;

}

@media (max-width: 400px) {
  .index-edit-button, .index-delete-button {
    display: none;
  }
}